@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "@/assets/fonts.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-family: "Helvetica Neue";
}

.landing-images-overlay {
  background: var(--background-url);
}

.landing-images-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, black 0%, transparent 40%),
    linear-gradient(to right, black 0%, transparent 60%);
}

/* Required asterisk for input fields */
.required::after {
  content: "*";
  color: #dc3545;
  font-size: 0.875rem;
  margin-left: 4px;
}

.active-searchbar {
  width: 100%;
}

.shadow-gradient {
  position: relative;
  overflow: hidden;
}

.shadow-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle, transparent, rgba(0, 0, 0, 0.4));
}

.gray-scrollbar::-webkit-scrollbar {
  width: 20px;
}

.gray-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.gray-scrollbar::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 8px;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
