@font-face {
  font-family: "Helvetica Geo";
  src: url("@/assets/fonts/ka/Helvetica Neue LT GEO 25 UltLt.ttf")
    format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Helvetica Geo";
  src: url("@/assets/fonts/ka/Helvetica Neue LT GEO 35 Thin.ttf")
    format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Helvetica Geo";
  src: url("@/assets/fonts/ka/Helvetica Neue LT GEO 45 Light.ttf")
    format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica Geo";
  src: url("@/assets/fonts/ka/helvetica-neue-lt-geo-55-roman.ttf")
    format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Helvetica Geo";
  src: url("@/assets/fonts/ka/helvetica-neue-lt-geo-55-roman.ttf")
    format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Helvetica Geo";
  src: url("@/assets/fonts/ka/Helvetica Neue LT GEO 75 Bold.ttf")
    format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Helvetica Geo";
  src: url("@/assets/fonts/ka/Helvetica Neue LT GEO 85 Heavy.ttf")
    format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Helvetica Geo";
  src: url("@/assets/fonts/ka/Helvetica Neue LT GEO 95 Black.ttf")
    format("truetype");
  font-weight: 900;
}

/* English Fonts Below */

@font-face {
  font-family: "Helvetica Neue";
  src: url("@/assets/fonts/en/HelveticaNeueThin.otf") format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("@/assets/fonts/en/HelveticaNeueUltraLight.otf") format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("@/assets/fonts/en/HelveticaNeueLight.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("@/assets/fonts/en/HelveticaNeueRoman.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("@/assets/fonts/en/HelveticaNeueMedium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("@/assets/fonts/en/HelveticaNeueBold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("@/assets/fonts/en/HelveticaNeueBlack.otf") format("opentype");
  font-weight: 900;
}
